<% provide :title, "List user" %>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <table class="table table-striped">
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Image</th>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">Action</th>
        </tr>
        <tbody>
        <%= render @user %>
        </tbody>
      </table>
      <div class="text-center">
        <%#= will_paginate @user %>
        <%= will_paginate(@user, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer, class: 'justify-content-center') %>
      </div>
    </div>
  </div>

</div>
<style>
  ul{
    margin: 0 auto;
  }
</style>